.page-loader {
  text-align: center;
  padding-top: 135px;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 10px;
  background-color: #FFFFFF;
}

ion-input {
  margin-top: 15px;
}

ion-searchbar {
  margin-top: 10px;
  margin-bottom: 5px;
}

.lib-content {
  padding-top: 130px;
}


@media (prefers-color-scheme: dark) {
  .page-header {
    background-color: #121212;
  }
}


