.page-loader {
  text-align: center;
  margin-top: 20px;
}

.page-header {
  position: sticky;
  top: 20px;
  z-index: 1;
}

ion-input {
  margin-top: 15px;
}

ion-searchbar {
  margin-top: 10px;
  margin-bottom: 5px;
}


@media (prefers-color-scheme: dark) {
}


