.page-loader {
  text-align: center;
  margin-top: 20px;
}

.page-header {
  position: sticky;
  top: 20px;
  z-index: 1;
}

ion-label {
  font-family: frederika !important;
  font-size: 40px;
  color: #008080;
  margin-left: 15px;
  margin-right: 20px;
}

ion-input {
  margin-top: 15px;
}

ion-searchbar {
  margin-top: 10px;
  margin-bottom: 5px;
}


@media (prefers-color-scheme: dark) {
  ion-label {
    color: #32b2b2;
  }
}


