.page-header {
  position: sticky;
  top: 20px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  align-self: flex-end;
  margin-right: 15px;
}

ion-accordion-group {
  margin-top: 35px;
}
