.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}

button {
  align-self: flex-end;
  margin-right: 15px;
}

ion-accordion-group {
  margin-top: 35px;
}

.input-field {
  margin-top: 15px;
}

.feedback {
  --border-style: solid;
  --border-width: 2px;
  --border-color: #BCC08F;
  --color: #BCC08F;
  --background: #F5F6EE;
}

.coffee {
  --padding-top: 0;
  --padding-bottom: 0;
  --background: #FFDD00;
}

ion-accordion-group {
  padding-top: 45px;
}


@media (prefers-color-scheme: dark) {
  .page-header {
    background-color: #121212;
  }

  .feedback {
    --border-color: #F5F6EE;
    --color: #F5F6EE;
    --background: #BCC08F;
  }
}
