<ion-content [fullscreen]="true">
  <div class="page-header">
    <ion-label class="page-title">
      settings
    </ion-label>

    <button id="logout-confirm" class="accent-btn">
      log out
    </button>
  </div>

  <ion-accordion-group>
    <ion-accordion value="profile">
      <ion-item slot="header" color="light">
        <ion-label>Profile</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div>
          <ion-input
            name="account-id"
            label="account id"
            fill="outline"
            label-placement="floating"
            disabled
            [value]="updatePayload.id"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="first-name"
            label="first name"
            fill="outline"
            label-placement="floating"
            type="text"
            [(ngModel)]="updatePayload.firstName"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="last-name"
            label="last name"
            fill="outline"
            label-placement="floating"
            type="text"
            [(ngModel)]="updatePayload.lastName"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            disabled
            name="email-address"
            label="email address"
            fill="outline"
            label-placement="floating"
            [value]="updatePayload.emailAddress"></ion-input>
        </div>

        <div class="input-field">
          <ion-button
            expand="block"
            mode="ios"
            [disabled]="isUpdatingProfile"
            (click)="updateProfile()">
            <ng-container *ngIf="isUpdatingProfile">
              <ion-spinner name="lines-sharp"></ion-spinner>
            </ng-container>
            <ng-container *ngIf="!isUpdatingProfile">
              update profile
            </ng-container>
          </ion-button>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="password">
      <ion-item slot="header" color="light">
        <ion-label>Security</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div>
          <ion-input
            name="current-password"
            label="current password"
            fill="outline"
            label-placement="floating"
            type="password"
            [(ngModel)]="changePayload.currentPassword"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="new-password"
            label="new password"
            fill="outline"
            label-placement="floating"
            type="password"
            [(ngModel)]="changePayload.newPassword"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="new-confirm-password"
            label="confirm new password"
            fill="outline"
            label-placement="floating"
            type="password"
            [(ngModel)]="changePayload.confirmNewPassword"></ion-input>
        </div>

        <div class="input-field">
          <ion-button
            expand="block"
            mode="ios"
            [disabled]="isChangingPassword"
            (click)="changePassword()">
            <ng-container *ngIf="isChangingPassword">
              <ion-spinner name="lines-sharp"></ion-spinner>
            </ng-container>
            <ng-container *ngIf="!isChangingPassword">
              update password
            </ng-container>
          </ion-button>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="account">
      <ion-item slot="header" color="light">
        <ion-label>Account</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="input-field">
          <ion-button
            id="delete-account-confirm"
            expand="block"
            mode="ios"
            class="delete-account">
            delete account
          </ion-button>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="support">
      <ion-item slot="header" color="light">
        <ion-label>Support</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div>
          <ion-button
            expand="block"
            mode="ios"
            class="coffee"
            (click)="buyMeACoffee()">
            <img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=bolorundurowb&button_colour=FFDD00&font_colour=000000&font_family=Lato&outline_colour=000000&coffee_colour=ffffff" />
          </ion-button>
        </div>
        <div class="input-field">
          <ion-button
            expand="block"
            mode="ios"
            (click)="goToSourceCode()">
            view source code
          </ion-button>
        </div>
        <div class="input-field">
          <ion-button
            expand="block"
            mode="ios"
            class="feedback"
            (click)="giveFeedback()">
            feedback & feature requests
          </ion-button>
        </div>
      </div>
    </ion-accordion>
    <ion-accordion value="about">
      <ion-item slot="header" color="light">
        <ion-label>About</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <span style="font-weight: bold">App Version:</span> {{ appVersion || '(Not Available)' }}
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-alert
  trigger="logout-confirm"
  header="Confirm"
  message="Are you sure you want to log out?"
  [buttons]="logOutButtons"></ion-alert>

<ion-alert
  trigger="delete-account-confirm"
  header="Confirm"
  message="Are you sure you want to delete your account? This move is permanent and irreversible!"
  [buttons]="deleteAccountButtons"></ion-alert>
