<ion-content [fullscreen]="true">
  <div class="page-header">
    <ion-label class="page-title">
      settings
    </ion-label>

    <button id="logout-confirm" class="accent-btn">
      log out
    </button>
  </div>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Profile</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div>
          <ion-input
            name="first-name"
            label="first name"
            fill="outline"
            label-placement="floating"
            type="text"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="last-name"
            label="last name"
            fill="outline"
            label-placement="floating"
            type="text"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            disabled
            name="email-address"
            label="email address"
            fill="outline"
            label-placement="floating"
            type="text"></ion-input>
        </div>

<div class="input-field">
  <ion-button
    expand="block"
    mode="ios">
    <!--          <ng-container *ngIf="isLoggingIn">-->
    <!--            <ion-spinner name="lines-sharp"></ion-spinner>-->
    <!--          </ng-container>-->
    <!--          <ng-container *ngIf="!isLoggingIn">-->
    update profile
    <!--          </ng-container>-->
  </ion-button>
</div>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Security</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>About</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <span style="font-weight: bold">App Version:</span> {{appVersion || '(Not Available)'}}
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-alert
  trigger="logout-confirm"
  header="Confirm"
  message="Are you sure you want to log out?"
  [buttons]="logOutButtons"></ion-alert>
