<ion-content [fullscreen]="true">
  <div class="page-header">
    <ion-label class="page-title">
      settings
    </ion-label>

    <button id="logout-confirm" class="accent-btn">
      log out
    </button>
  </div>

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Profile</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Security</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>About</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-alert
  trigger="logout-confirm"
  header="Confirm"
  message="Are you sure you want to log out?"
  [buttons]="logOutButtons"></ion-alert>
