<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header">
      <ion-button class="back-btn" (click)="goBack()">
        <ion-icon size="large" slot="icon-only" src="assets/icons/arrow-left.svg"></ion-icon>
      </ion-button>
    </div>

    <div>
      <div>
        <ion-label>
          create your
        </ion-label>
      </div>

      <div>
        <ion-label class="atheneum">
          account
        </ion-label>
      </div>

      <div class="input-field">
        <ion-input
          name="full-name"
          label="full name"
          fill="outline"
          label-placement="floating"
          type="text"
          placeholder="Adeyele Doe"
          [(ngModel)]="payload.fullName"></ion-input>
      </div>

      <div class="input-field">
        <ion-input
          name="email-address"
          label="email address"
          fill="outline"
          label-placement="floating"
          type="email"
          placeholder="john.doe@email.example"
          [(ngModel)]="payload.emailAddress"></ion-input>
      </div>

      <div class="input-field">
        <ion-input
          name="password"
          label="password"
          fill="outline"
          label-placement="floating"
          type="password"
          [(ngModel)]="payload.password"></ion-input>
      </div>

      <div class="input-field">
        <ion-input
          name="confirm-password"
          label="confirm password"
          fill="outline"
          label-placement="floating"
          type="password"
          [(ngModel)]="payload.confirmPassword"></ion-input>
      </div>

      <ion-button
        expand="block"
        mode="ios"
        [disabled]="isRegistering"
        (click)="register()">
        <ng-container *ngIf="isRegistering">
          <ion-spinner name="lines-sharp"></ion-spinner>
        </ng-container>
        <ng-container *ngIf="!isRegistering">
          register
        </ng-container>
      </ion-button>

      <div class="join-us">
        already have an account? <a (click)="goBack()">login</a>
      </div>
    </div>
  </div>
</ion-content>
