<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library" href="/tabs/library">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>library</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon aria-hidden="true" name="square"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wishlist" href="/tabs/wishlist">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
