<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" src="assets/icons/home.svg"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library" href="/tabs/library">
      <ion-icon aria-hidden="true" src="assets/icons/library.svg"></ion-icon>
      <ion-label>library</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-button aria-hidden="true" id="open-new-book-sheet" class="centre">
        <ion-icon slot="icon-only" src="assets/icons/plus.svg"></ion-icon>
      </ion-button>
    </ion-tab-button>

    <ion-tab-button tab="wishlist" href="/tabs/wishlist">
      <ion-icon aria-hidden="true" src="assets/icons/wishlist.svg"></ion-icon>
      <ion-label>wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" src="assets/icons/settings.svg"></ion-icon>
      <ion-label>settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-action-sheet
  class="atheneum-actions"
  trigger="open-new-book-sheet"
  header="add to your library"
  [buttons]="actionSheetButtons"></ion-action-sheet>

<ion-modal
  id="manual-book-modal"
  [isOpen]="isManualBookModalVisible"
  [canDismiss]="canDismiss">
  <ng-template>
    <div class="wrapper">
      <ion-toolbar>
        <ion-title>add book</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismissManualBookModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <form>
        <div class="input-field">
          <ion-input
            name="book-title"
            label="book title"
            fill="outline"
            label-placement="floating"
            type="text"
            placeholder="book title"
            [(ngModel)]="manualPayload.title"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="book-author"
            label="book authors"
            fill="outline"
            label-placement="floating"
            type="text"
            placeholder="book authors (separate by commas)"
            [(ngModel)]="manualPayload.authors"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="book-publisher"
            label="book publisher"
            fill="outline"
            label-placement="floating"
            type="text"
            placeholder="book publisher"
            [(ngModel)]="manualPayload.publisher"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="book-isbn"
            label="book isbn"
            fill="outline"
            label-placement="floating"
            type="numeric"
            placeholder="book isbn"
            [(ngModel)]="manualPayload.isbn"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="book-year"
            label="book publish year"
            fill="outline"
            label-placement="floating"
            type="numeric"
            placeholder="publish year"
            [(ngModel)]="manualPayload.publishYear"></ion-input>
        </div>

        <div class="input-field">
          <ion-textarea
            name="book-summary"
            label="book summary"
            fill="outline"
            label-placement="floating"
            placeholder="book summary"
            rows="3"
            [(ngModel)]="manualPayload.summary"></ion-textarea>
        </div>

        <div class="input-field">
          <ion-input
            name="book-page-count"
            label="book page count"
            fill="outline"
            label-placement="floating"
            type="numeric"
            placeholder="page count"
            [(ngModel)]="manualPayload.pageCount"></ion-input>
        </div>

        <div class="input-field">
          <ion-button
            expand="block"
            mode="ios"
            [disabled]="isAddingBook"
            (click)="addManual()">
            <ng-container *ngIf="isAddingBook">
              <ion-spinner name="lines-sharp"></ion-spinner>
            </ng-container>
            <ng-container *ngIf="!isAddingBook">
              add to library
            </ng-container>
          </ion-button>
        </div>
      </form>
    </div>
  </ng-template>
</ion-modal>

<ion-modal
  id="manual-isbn-modal"
  [isOpen]="isManualIsbnModalVisible"
  [canDismiss]="canDismiss">
  <ng-template>
    <div class="wrapper">
      <ion-toolbar>
        <ion-title>add book</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismissManualIsbnModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <form>
        <div class="input-field">
          <ion-input
            name="book-isbn"
            label="isbn"
            fill="outline"
            label-placement="floating"
            type="text"
            placeholder="book isbn"
            [(ngModel)]="isbnPayload.isbn"></ion-input>
        </div>

        <div class="input-field">
          <ion-button
            expand="block"
            mode="ios"
            [disabled]="isAddingBook"
            (click)="addByIsbn()">
            <ng-container *ngIf="isAddingBook">
              <ion-spinner name="lines-sharp"></ion-spinner>
            </ng-container>
            <ng-container *ngIf="!isAddingBook">
              add to library
            </ng-container>
          </ion-button>
        </div>
      </form>
    </div>
  </ng-template>
</ion-modal>
