<ion-content [fullscreen]="true">
  <div class="container">
    <div>
      <div>
        <ion-label>
          reset your
        </ion-label>
      </div>

      <div>
        <ion-label class="atheneum">
          password
        </ion-label>
      </div>

      <div class="input-field">
        <ion-input
          name="email-address"
          label="email address"
          fill="outline"
          label-placement="floating"
          type="email"
          placeholder="john.doe@email.example"
          [(ngModel)]="payload.emailAddress"></ion-input>
      </div>

      <div class="input-field">
        <ion-input
          name="reset-code"
          label="reset code"
          fill="outline"
          label-placement="floating"
          type="numeric"
          placeholder="123456"
          [(ngModel)]="payload.resetCode"></ion-input>
      </div>

      <div class="input-field">
        <ion-input
          name="new-password"
          label="new password"
          fill="outline"
          label-placement="floating"
          type="password"
          [(ngModel)]="payload.password"></ion-input>
      </div>

      <div class="input-field">
        <ion-input
          name="confirm-password"
          label="confirm new password"
          fill="outline"
          label-placement="floating"
          type="password"
          [(ngModel)]="payload.confirmPassword"></ion-input>
      </div>

      <ion-button
        expand="block"
        mode="ios"
        [disabled]="isRequesting"
        (click)="resetPassword()">
        <ng-container *ngIf="isRequesting">
          <ion-spinner name="lines-sharp"></ion-spinner>
        </ng-container>
        <ng-container *ngIf="!isRequesting">
          change password
        </ng-container>
      </ion-button>
    </div>
  </div>
</ion-content>
