<ion-content [fullscreen]="true">
  <div class="page-header">
    <ion-label class="page-title">
      wish list
    </ion-label>

    <button class="accent-btn">
      add
    </button>
  </div>

  <div class="page-loader" *ngIf="isLoading">
    <ion-spinner name="lines-sharp"></ion-spinner>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="handlePullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-content-scroll-host ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let book of wishlist"
                 size="4">
          <app-book [book]="book"></app-book>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
