.page-loader {
  text-align: center;
  padding-top: 75px;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}

ion-label {
  font-family: frederika !important;
  font-size: 40px;
  color: #008080;
  margin-left: 15px;
  margin-right: 20px;
  align-self: flex-start;
}

button {
  align-self: flex-end;
  margin-right: 15px;
}

.wish-content {
  padding-top: 70px;
}


@media (prefers-color-scheme: dark) {
  .page-header {
    background-color: #121212;
  }
}
