<ion-content [fullscreen]="true">
  <div class="page-header">
    <ion-label class="page-title">
      wish list
    </ion-label>

    <button id="add-wishlist-book-dialog" class="accent-btn" expand="block">
      add
    </button>
  </div>

  <div class="page-loader" *ngIf="isLoading">
    <ion-spinner name="lines-sharp"></ion-spinner>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="handlePullRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-content-scroll-host ion-padding wish-content">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let book of wishlist"
                 size="4">
          <app-book [book]="book"></app-book>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-modal id="atheneum-modal" #modal trigger="add-wishlist-book-dialog">
  <ng-template>
    <div class="wrapper">
      <ion-toolbar>
        <ion-title>add to wishlist</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <form>
        <div class="input-field">
          <ion-input
            name="book-title"
            label="book title"
            fill="outline"
            label-placement="floating"
            type="text"
            placeholder="book title"
            [(ngModel)]="addPayload.bookTitle"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="author-name"
            label="author's name"
            fill="outline"
            label-placement="floating"
            type="text"
            placeholder="author name"
            [(ngModel)]="addPayload.bookAuthor"></ion-input>
        </div>

        <div class="input-field">
          <ion-input
            name="isbn"
            label="isbn"
            fill="outline"
            label-placement="floating"
            type="numeric"
            placeholder="1234567890123"
            [(ngModel)]="addPayload.bookIsbn"></ion-input>
        </div>

        <div class="actions">
          <ion-button
            expand="block"
            mode="ios"
            [disabled]="isAdding">
            <ng-container *ngIf="isAdding">
              <ion-spinner name="lines-sharp"></ion-spinner>
            </ng-container>
            <ng-container *ngIf="!isAdding">
              add to list
            </ng-container>
          </ion-button>
        </div>
      </form>
    </div>
  </ng-template>
</ion-modal>
