/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: frederika;
  src: url("assets/fonts/fredericka.ttf");
  format: "truetype";
}

@font-face {
  font-family: proxima;
  src: url("assets/fonts/proxima.otf");
  format: "opentype";
}

@font-face {
  font-family: proximabold;
  src: url("assets/fonts/proximabold.otf");
  format: "opentype";
}

html {
  font-family: proxima;
  --ion-font-family: proxima;
}

a {
  text-decoration: none;
}

ion-toast.success-toast {
  --background: #4D9947;
}

ion-toast.error-toast {
  --background: #AA0B0F;
}

ion-toast.info-toast {
  --background: #49ABE8;
}

ion-toast.warn-toast {
  --background: #FF7F00;
}

ion-button {
  --color: #FDFDFD;
  --background: #111111;

  &.inverted {
    --color: #111111;
    --background: #FDFDFD;
    --border-color: #F4F4F4;
    --border-width: 1px;
    --border-style: solid;
  }

  &.back-btn {
    width: 50px;
    height: 50px;
    --color: #111111;
    --background: transparent;
    --border-color: #F4F4F4;
    --border-width: 1px;
    --border-style: solid;
    --border-radius: 12px;
  }
}

button {
  &.accent-btn {
    font-size: 16px;
    width: 95px;
    height: 37px;
    font-family: proximabold !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #BCC08F;
    color: #BCC08F;
    background: #F5F6EE;

    &:hover {
      background: #e2e5ce;
    }
  }
}


@media (prefers-color-scheme: dark) {
  ion-button {
    --color: #111111;
    --background: #FDFDFD;

    &.inverted {
      --color: #FDFDFD;
      --background: #111111;
      --border-color: #5F5F5F;
    }

    &.back-btn {
      --color: #FDFDFD;
      --border-color: #5F5F5F;
    }
  }

  button {
    &.accent-btn {
      border-color: #F5F6EE;
      color: #F5F6EE;
      background: #BCC08F;

      &:hover {
        background: #c3c69a;
      }
    }
  }
}
